.posts-section {
  padding: 3rem 0;
}

.posts-section .post-item .card-title {
  color: var(--primary-color);
}

/* Add box shadow on card hover */
.posts-section .post-item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.posts-section .post-item {
  position: relative;
}

.posts-section .post-item .post-item-menu {
  transform: scale(1);
  opacity: 1;
}
